################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WindowsFormsApp-DotNetFramework4.8
/obj/
/bin/
/.vs/WindowsFormsApp-DotNetFramework4.8.csproj.dtbcache.json
/.vs/WindowsFormsApplicationExample
